/* CSS Components */

/* Card Ads */
#cardad-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

#ad-img {
    height: 200;
    margin-right: 20;
    width: 200;
}
/* Card Face */
#cardface-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center
}

#face-container {
    justify-self: center;
    align-self: center;
}

#content-container {
    justify-self: flex-start;
    align-self: center;
}

/* Header */

#header {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* InfiniteScroll */



/* ListView */

#listview-container {
    display: grid;
}

#filter-container {
    justify-self: self-end;
    margin-right: 50px;
}